#container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #f87272; }

.homeContainer {
  height: 100%;
  width: 100%;
  background-color: black; }

.admin {
  box-sizing: border-box;
  padding-top: 200px;
  padding-left: 30%; }

input, button {
  width: 50%;
  height: 50px;
  margin: 25px;
  font-size: 4vw; }

button {
  width: 25%;
  height: 50px;
  margin: 25px;
  border: none;
  background-color: #f87272;
  color: white; }

.categoryDiv {
  text-align: center; }

.grid {
  /* center */
  margin: 0 auto; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-item {
  padding-bottom: 10px;
  width: 390px;
  float: left;
  background-position: 65% 5%;
  border: 2px solid #8a0000;
  border-color: #8a0000; }
  .grid-item img {
    width: 100%; }

.shareContainer {
  color: black;
  padding-top: 20%;
  text-align: center; }
  .shareContainer .shareTitle {
    margin: 20px;
    font-size: 5vw; }
  .shareContainer .shareForm {
    display: block;
    text-align: center; }
    .shareContainer .shareForm .shareInput {
      box-sizing: border-box;
      width: 45%;
      height: 30px;
      margin: 0 auto;
      display: block;
      font-size: 3.3vw; }
    .shareContainer .shareForm .shareLabel {
      box-sizing: border-box;
      font-size: 3.5vw;
      display: block;
      margin: 10px; }
    .shareContainer .shareForm .shareButton {
      display: inline-block; }

.navbar {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  padding-top: 20px; }
  .navbar .linkDiv {
    display: inline-block;
    color: white;
    margin-right: 6%; }
  .navbar .greet {
    text-align: left;
    display: none;
    color: white;
    margin-right: 6%; }

.bg-img {
  height: 500px;
  top: 65px;
  padding-top: 60px;
  margin-bottom: 50px;
  position: relative;
  background-size: cover;
  background-image: url("../images/austin-skyline.jpg"); }

.hello, .hello2 {
  text-align: center;
  font-size: 5.3vw;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding-top: 17%; }

.hello2 {
  margin-top: 40px; }

.loginForm, .regForm {
  text-align: center;
  padding-top: 100px; }

@media (min-width: 760px) {
  .bg-img {
    margin-bottom: 150px; }

  .navbar .greet {
    display: inline-block; }

  .hello {
    padding-top: 8%; }

  .hello2 {
    display: none; }

  button {
    height: 100px;
    margin: 25px;
    font-size: 3.4vw; }

  input {
    width: 50%;
    height: 100px;
    margin: 25px;
    font-size: 3.4vw; }

  .shareContainer {
    padding-top: 5%; }
    .shareContainer .shareTitle {
      font-size: 2vw; }
    .shareContainer .shareForm .shareLabel {
      font-size: 1.5vw; }
    .shareContainer .shareForm .shareButton {
      height: 2%;
      font-size: 2vw; }
    .shareContainer .shareForm .shareInput {
      width: 30%;
      height: 30px;
      font-size: 2vw; } }
@media (min-width: 1300px) {
  .bg-img {
    margin-bottom: 250px; } }

/*# sourceMappingURL=styles.css.map */
