$titlefont: 'Open Sans', sans-serif;

a {
	text-decoration: none;
	color: white;
}
.navbar {
	height: 65px;
	width: 100%;
	background-color: black;
	position: fixed;
	z-index: 3;

	ul {
		font-family: $titlefont;
		text-align: right;
		margin-top: 25px;
	}
	.linkDiv {
		display: inline-block;
		color: white;
		margin-right: 6%;
	}
}
.bg-img {
	height: 500px;
	top:65px;
	padding-top: 30px;
	position: relative;
	background-size: cover;
	background-image: url('../images/austin-skyline.jpg');
}

.hello {
	text-align: center;
	font-size: 80px;
	color: white;
	font-family: $titlefont;
	padding-top: 10%;
}

.sugg-pic {
	background-color: black;
	height: 400px;
}
