$titlefont: 'Open Sans', sans-serif;
a {
	text-decoration: none;
	color: white;
}
.navbar {
	height: 65px;
	width: 100%;
	background-color: black;
	position: fixed;

	ul {
		font-family: $titlefont;
		text-align: right;
		margin-top: 25px;
	}
	.navlinks {
		display: inline-block;
		color: white;
		margin-right: 6%;
	}
}

.bg-img {
	padding-top: 30px;

	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.sugg-pic {
	background-color: black;
	height: 400px;
	border: 2px solid white;
}
